@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #0367A6;
    --secondary-color: #F2A922;
    --accent01-color: #F2D57E;
    --accent02-color: #F26E22; 

    --paragraph-font: 'Poppins',serif;
    --heading-font: 'Madimi One',serif; 

    --nav-background-color: white;
    --nav-link-color: #f26e22;
    --nav-hover-link-color: #0367a6;
    --nav-hover-bakcground-color:#F2A922;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

body{
    max-width: 960px;
    font-family: var(--paragraph-font);
}



nav a{
    text-decoration: none;
    color: var(--nav-link-color);
}

.hero {
    position: relative;
}

.hero h1{
    position: absolute;
    top: 10px;
    left: 380px;
    color: var(--secondary-color);
}

.hero article{
    position: absolute;
    top: 150px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.529);
    color: var(--accent01-color);
    padding: 10px;
    max-width: 900px;
}

.hero img{
    display: block;
    width: 960px;
    height: auto;
    padding-left: 1px;
}

#happy{    
    width: 150px;
    height: auto;
    float: right;
}


footer img{
    max-width: 35px;
    padding-right: 5px;
}
